@model QuanLySV.Models.Subject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfLesson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfLesson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComponentScoreRatio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComponentScoreRatio)
        </dd>

        <dt>
            ProcessScoreRatio
        </dt>

        <dd>
            @{
                var adjustedValue = 1 - Model.ComponentScoreRatio;
            }
            @Html.DisplayFor(model => adjustedValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
